body {
    background-color: rgba(4, 4, 4, 0.986);
    color: white;
    font-family: Oswald;
    overflow-x: hidden;
    margin-left: 20px;
}
header {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
    transform: translate(5%,100%);
}

header span {
    background-color: rgb(203, 2, 2);
    padding: 0px 5px 0px 5px;
    border-radius: 2px;
}

header h1 {
    font-size: 25px;
}


main {
    display: flex;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    color: white;
}

.container {
    display: flex;
    width: 90%;
    height: 50%;
    margin-top: 5%;
    gap: 30px;
}

img {
    width: 300px;
    border-radius: 5px;
}

.caixa1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 34, 34);
    width: 350px;
    height: 500px;
    border-radius: 3px;
}

.caixa2 {
    background-color: rgb(34, 34, 34);
    width: 800px;
    height: 500px;
    font-family: Oswald;
    display: block;
    padding-left: 15px;
    border-radius: 3px;
}

.box {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 12px;
}

.titulo {
    font-size: 20px;
}

.generos {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 12px;
}

.box2 p {
    font-size: 22px;
}

a {
    color: rgb(255, 255, 255);
    font-size: 30px;
}



